@use 'src/configurations/theme' as theme;

.detailed-point-information {
  color: theme.$primaryTextColor;
  text-align: left;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  &__main-content {
    display: flex;
    flex-direction: row;
  }
}

.main-content {
  &__info {
    width: 58%;
    height: 100vh;
    padding-top: 120px;
    background: theme.$primary;
    padding-left: 53px;
  }
  &__pictures {
    width: 42%;
    height: 100vh;
  }
}

.pictures__switch-block {
  position: absolute;
  right: 58px;
  bottom: 58px;
  width: 130px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .back-questionnaire-arrow {
    left: unset;
    top: unset;
    position: relative;
  }
}

.info {
  &__object-name {
    font-weight: 500;
    font-size: 44px;
    line-height: 58px;
    margin-bottom: 2.5%;
  }
  &__control-line {
    max-width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
  }
  &__control-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    bottom: 28%;
  }
  &__object-description {
    width: 80%;
    margin-bottom: 3%;
  }
}

div.control-line__control-buttons :nth-child(2) {
  margin-left: 22px;
}

.control-line__control-buttons img {
  cursor: pointer;
}
