@use '../../configurations/theme' as theme;

.new-location-offer {
  display: flex;
  flex-direction: row;
  gap: 10px;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: unset;
    justify-content: space-between;
  }

  padding: 20px;
  border-radius: 4px;
  background: theme.$sideMapBlocksBG;

  &__text {
    @media screen and (max-width: 500px) {
      text-align: center;
      margin-bottom: 15px;
      line-height: 22px;
    }
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #000000;
  }
}

button.accent-button {
  margin-top: auto;
  margin-bottom: auto;
}
