.locations__content-block {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  max-height: 58%;
  gap: 2.5%;
  padding-top: 15px;

  @media screen and (max-width: 500px) {
    gap: 30px;
  }
}
