.personal-route-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__route-info {
    display: flex;
    flex-direction: column;
    height: 13%;
    width: 60%;
  }
}

.route-info {
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #000000;
  }
  &__duration,
  &__distance {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #336AF7;
  }
}
