@use 'src/configurations/theme' as theme;

.personal-route-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 25px;
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.1));
  border-radius: 4px 4px 0 0;
  background: theme.$primaryTextColor;
  cursor: pointer;;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__route-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
  }
}

.route-info {
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #000000;
  }

  &__params {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.params__duration,
.params__distance {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #336AF7;
}
