$_lightTheme: (
        "primary": #F75050,
        "primaryTextColor": #FFFFFF,
        "inputBackground": #F3F4F6,
        "inputTextColor": #BDBEBF,
        "supportOffer": #BDBEBF,
        "pageTitleColor": #464646,
);

@function setThemeColors($theme) {
  $appColors: (
          "primary": map-get($theme, "primary"),
          "primaryTextColor": map-get($theme, "primaryTextColor"),
          "inputBackground": map-get($theme, "inputBackground"),
          "inputTextColor": map-get($theme, "inputTextColor"),
          "supportOffer": map-get($theme, "supportOffer"),
          "pageTitleColor": map-get($theme, "pageTitleColor"),
  );

  @return $appColors;
}

$THEME: setThemeColors($_lightTheme);

$primary: map-get($THEME, "primary");
$primaryTextColor: map-get($THEME, "primaryTextColor");
$inputBackground: map-get($THEME, "inputBackground");
$inputTextColor: map-get($THEME, "inputTextColor");
$supportOffer: map-get($THEME, "supportOffer");
$pageTitleColor: map-get($THEME, "pageTitleColor");
