.transport-type__choice-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  @media screen and (min-width: 500px) {
    width: 315px;
    margin: 20px auto 30px;
  }
  width: 85%;
  margin: 6% auto 30px;
}
