.back-to-map-button {
  all: unset;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  span {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-weight: 500;
    font-size: 19px;

    @media screen and (max-width: 500px) {
      font-size: 15px;
    }

    line-height: 257%;
  }

  &__arrow {
    margin-top: auto;
    margin-bottom: auto;
  }
}
