.interest-info__choice-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;

  //max-height: 15%;
  width: 80%;
  overflow: auto;

  @media screen and (min-width: 500px) {
    width: 50%;
    max-height: 160px;
  }

  max-height: calc(100vh - 485px);

  margin: 20px auto 30px;
}
