@use 'src/configurations/theme' as theme;

@mixin choice-item-base {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.choice-item {
  &_passive {
    font-weight: 400;

    @media screen and (min-width: 500px) {
      background: #FFFFFF;
    }
    background: theme.$passiveElementBG;

    color: theme.$passiveTextColor;
    padding: 8px 22px;
    @include choice-item-base;
  }
  &_active {
    font-weight: 700;
    background: theme.$primary;
    color: theme.$primaryTextColor;
    padding: 8px 19px;
    @include choice-item-base;
  }

  &__text {
    &_passive {
      position: relative;
      right: 15px;
    }
    &_active {
      position: static;
    }
  }
}
