.map-scale-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;

  position: absolute;
  bottom: 10%;
  right: 30px;
  z-index: 1;

  @media screen and (max-width: 500px) {
    top: 50vh;
    left: calc(100vw - 55px);
    width: 50px;
  }

  & img {
    cursor: pointer;
  }
}
