.map-scale-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;

  position: absolute;
  bottom: 17%;
  right: 3.5%;
  z-index: 1;

  & img {
    cursor: pointer;
  }
}
