.map-mode-control-panel {
  display: flex;
  flex-direction: row;
  width: 60%;
  gap: 20px;

  @media screen and (max-width: 500px) {
    display: none;
  }

  position: absolute;
  top: 16%;
  right: 8%;
  z-index: 1;
}
