@use 'src/configurations/theme' as theme;

@mixin title-switch-item_base {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 20px;
  width: max-content;
  height: 40px;
  box-sizing: border-box;
  color: theme.$primaryTextColor;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 200px;
  cursor: pointer;

  @media screen and (max-width: 500px) {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }
}

.title-switch-item {
  @include title-switch-item_base;
  background: theme.$primary;
  &_active {
    background: #F3757E;
    @include title-switch-item_base;
  }
}
