@use 'src/configurations/theme' as theme;

.personal-route-invitation > * {
  margin: auto;
}

.personal-route-invitation button {
  margin-bottom: 20px;
}

.personal-route {
  &__explanation {
    color: theme.$routeExplanationText;
    text-align: center;
    font-weight: 400;
    font-size: 20px;

    width: 75%;
    margin-top: 6%;
    margin-bottom: 20%;

    @media screen and (min-width: 650px) {
      width: 45%;
      //margin: 30px auto 60px auto;
    }
    @media screen and (max-height: 650px) {
      margin-bottom: 12%;
      //margin: 30px auto 60px auto;
    }

    &_accent {
      font-weight: bold;
    }
  }
}
