@use 'src/configurations/theme' as theme;

.invite-to-loyalty-program {
  display: flex;
  flex-direction: row;
  padding: 15px 20px 20px;
  background: theme.$sideMapBlocksBG;
  border-radius: 4px;
  margin-bottom: 5px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__side-panel {
    display: flex;
    flex-direction: column;
    align-content: start;

    & > img {
      cursor: pointer;
    }
  }
}

.content {
  &__header {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1px;
    color: #000000;
  }
  &__invitation {
    width: 92%;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
