@use 'src/configurations/theme' as theme;

.map-filter-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 37%;

  @media screen and (max-width: 500px) {
    max-width: calc(100vw - 40px);
  }

  padding: 15px 12px;
  box-sizing: border-box;
  gap: 15px;
  background: theme.$sideMapBlocksBG;
  border-radius: 4px;
}
