@mixin accent-button-base {
  all: unset;
  background: #336AF7;
  border-radius: 4px;

  padding: 14px 26px;
  color: #FFFFFF;
  cursor: pointer;

  width: max-content;
  height: min-content;
}

.accent-button {
  &_blue {
    @include accent-button-base;
    background: #336AF7;
    color: #FFFFFF;
  }
  &_white {
    @include accent-button-base;
    background: #FFFFFF;
    color: #336AF7;
  }
}
