.accent-button {
  all: unset;
  background: #336AF7;
  border-radius: 4px;

  padding: 14px 26px;
  color: #FFFFFF;
  cursor: pointer;

  width: max-content;
  height: min-content;

  &:hover {
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.2));
  }
}
